<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmplyeeServices" />
                <binding name="BasicHttpBinding_IBookingServices" />
                <binding name="BasicHttpBinding_IEscapeRoom_Services" />
                <binding name="BasicHttpBinding_ICustomerServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8736/Design_Time_Addresses/Employee/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmplyeeServices"
                contract="EmpRef.IEmplyeeServices" name="BasicHttpBinding_IEmplyeeServices" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Booking/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingServices"
                contract="BookingRef.IBookingServices" name="BasicHttpBinding_IBookingServices" />
            <endpoint address="http://localhost:8735/Design_Time_Addresses/Escaperoom/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEscapeRoom_Services"
                contract="ServiceReference3.IEscapeRoom_Services" name="BasicHttpBinding_IEscapeRoom_Services" />
            <endpoint address="http://localhost:8737/Design_Time_Addresses/Customer/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerServices"
                contract="CusRef.ICustomerServices" name="BasicHttpBinding_ICustomerServices" />
        </client>
    </system.serviceModel>
</configuration>